@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/


html {
  scroll-behavior: smooth;
}

*{
    font-family: "DM Sans", sans-serif;
}

.logo{
    font-family: "Forum", serif;
}
.heading {
    font-family: "DM Sans", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.custom-range {
  accent-color: #0F3D3A; /* YOUR color */
}
.custom-range:hover {
  accent-color: #0f3d3ade; /* YOUR color */
}
